<!-- ============================================================
         This Was made by Terence Jahred L. Moralidad
         For a Project In School at ACLC Northbay 
         ============================================================ -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Test</title></head>
<body>
  <h1>Total rows: <span th:text="${researchTitles.totalElements}"></span></h1>
  <ul>
    <li th:each="rt : ${researchTitles}" th:text="${rt.researchTitle}"></li>
  </ul>
</body>
</html>